.jumbotron {
  width: 90%;
  background-color: rgb(62, 117, 139);
  color: aliceblue;
  text-align: auto;
  margin: auto;
  margin-left: 7.5%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  box-sizing: border-box;
}

.card {
  padding: 1rem;
  width: 90%;
  background-color: rgb(62, 117, 139);
  color: aliceblue;
  text-align: auto;
  margin: auto;
  margin-left: 7.5%;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  box-sizing: border-box;
  box-shadow:
  0 1.6px 1.2px rgba(0, 0, 0, 0.063),
  0 3.4px 2.7px rgba(0, 0, 0, 0.093),
  0 5.8px 4.6px rgba(0, 0, 0, 0.115),
  0 8.7px 6.9px rgba(0, 0, 0, 0.133),
  0 12.5px 10px rgba(0, 0, 0, 0.15),
  0 17.7px 14.2px rgba(0, 0, 0, 0.167),
  0 25.1px 20.1px rgba(0, 0, 0, 0.185),
  0 36.5px 29.2px rgba(0, 0, 0, 0.207),
  0 56.3px 45px rgba(0, 0, 0, 0.237),
  0 100px 80px rgba(0, 0, 0, 0.3);
}

button:hover {
  color:brown;
  background-color:beige;
  font-family:fantasy;
}

body {
  background-image: url(../img/03601f2a4c9f7e4b7b3bfe5868431da8.jpg)
}

img {
  width: 50%;
  padding: .5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid white 1rem;
}

h3:hover {
  color: brown;
  font-style: italic;
  rotate: 3d;
}

h6 {
  padding: 1rem;
  text-align: center;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 125px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h5 {
  padding: .5rem;
}